<?xml version="1.0" encoding="UTF-8" ?>
<phpunit colors="false"
        bootstrap='tests/bootstrap.php'>
    <testsuites>
        <testsuite name="All">
            <directory suffix="Test.php">tests</directory>
        </testsuite>
        <testsuite name="Rest">
            <directory suffix="Test.php">tests/Rest</directory>
        </testsuite>
    </testsuites>
    <logging>
        <log type="tap" target="build/report.tap"/>
        <log type="coverage-html" target="build/coverage" charset="UTF-8" yui="true" highlight="true"/>
        <log type="coverage-clover" target="build/logs/clover.xml"/>
    </logging>
    <filter>
      <whitelist processUncoveredFilesFromWhitelist="true">
        <directory suffix=".php">src</directory>
        <exclude>
          <directory>vendor</directory>
          <directory>tests</directory>
        </exclude>
      </whitelist>
    </filter>
    <php>
        <env name="enterpriseId" value="easemob-playground" />
        <env name="appId" value="test1" />
        <env name="clientId" value="YXA6wDs-MARqEeSO0VcBzaqg5A" />
        <env name="clientSecret" value="YXA6JOMWlLap_YbI_ucz77j-4-mI0JA" />
    </php>
</phpunit>
